@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: 'Roboto', sans-serif;

}

@layer utilities {
  .PostOption {
    background-color: #e5e7eb;
    padding: 2px;
    margin-left: 2px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 1rem;
  }

  @screen sm {
    .PostOption {
      background-color: #e5e7eb;
      padding: 7px;
      position: relative;
      cursor: pointer;
      /* margin-bottom: 20px; */
      border-radius: 2rem;
    }
  }

}